# =============================================================================
# Keys
# =============================================================================
*.p12
*.pem
*.pkey

# =============================================================================
# Ruby generated
# =============================================================================
.bundle
vendor/
fastlane/beta-release-notes.txt

# =============================================================================
# Build generated
# =============================================================================
build/
DerivedData/

# =============================================================================
# Various settings
# =============================================================================
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# =============================================================================
# Other
# =============================================================================
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcarchive

# =============================================================================
# Obj-C/Swift specific
# =============================================================================
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# =============================================================================
# CocoaPods
# =============================================================================
Pods/CocoaPodsKeys/*.h
Pods/CocoaPodsKeys/*.m

# =============================================================================
# Custom Env (CocoaPods Keys)
# =============================================================================
.env
.env.default

# =============================================================================
# fastlane
# https://docs.fastlane.tools/best-practices/source-control/#source-control
# =============================================================================
# fastlane specific
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots/*/*.png
fastlane/screenshots/*.html

# scan temporary files
fastlane/test_output

# final Preview.html
Preview.html

# =============================================================================
# Xcode Patch
# =============================================================================
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

# =============================================================================
# Mac
# =============================================================================
*.DS_Store

# =============================================================================
# Firebase
# =============================================================================
firebase-debug.log
